.header {
    background: #fff;
    border-top: 1px solid #E1E1E1;
    padding: 24px;
}

.logoBlock {
    display: flex;
    align-items: center;
    gap: 20px;
    p {
        font-size: 32px;
        font-weight: 700;
        line-height: 39.01px;
    }
}