.layoutContent {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #FAF5FF;
}

.wrapper {
    width: 100%;
    max-width: 690px;
    padding: 50px;
    max-height: 100vh;
    overflow: hidden;
}

.content {
    padding: 50px;
    background: white;
    border-radius: 8px;
    max-width: 690px;
    width: 100%;
    min-width: 100%;
}

.form {
    margin-top: 56px;
}

.title {
    font-size: 36px;
    font-weight: 600;
    line-height: 46.8px;
}